#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  /*margin: 0 auto;*/
  min-height: 90vh;
  background-color: #2c3e50; /* Darker background color */
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}
