#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  /*margin: 0 auto;*/
  min-height: 90vh;
  background-color: #001f7a; /* Darker background color */
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  background: linear-gradient(180deg, #839cc8, #4c8df6ff);
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}
/* src/index.css or src/App.css */

